img {
     max-width: 100%;
}

body {
     margin: 5%
}

.main {
     margin: 0 auto;
     height: 500px;
     width: 400px;

}

.main .imgTop {
     /*  boder backgrouk-image in css*/
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 20px;
     border: none;
     background-image: url(/assets/img/2.jpg);
     background-size: 100%;
     background-position: center;
     background-repeat: no-repeat;
     height: 400px;
     width: 100%;
     margin-bottom: 20px;
     cursor: pointer;
}

.imgTop img {
     border-radius: 10px;
}

.imgTop:hover img {
     scale: 1.01;
     transition: 0.2s;
}

.main .imgBox {
     height: 100px;
     display: grid;
     grid-template-columns: auto auto auto auto;

}

.listBox img {
     border-radius: 10px;
     cursor: pointer;
}

.listBox:hover img {
     scale: 1.05;
     transition: 0.2s;
}

.listBox {
     margin-left: 5px;
}